<span *ngIf="principleUser">
<app-navbar [user]="principleUser.userFirstName"></app-navbar>
<div class="container">
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile *ngFor="let provider of providers">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{provider.providerName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]='"http://15.222.224.5:8081/static/"+provider.providerImg' (click)="order(provider)">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</span>
